*   {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: #004fed;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-links ul a {
    padding: 0px 20px;
    text-decoration: none;
    color: bisque;
    font-size: 18px;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0px;
    background:rgb(115, 192, 255);
    transition:all .5s;
}

li a:hover::after {
    width: 100%;
}

.logo {
    font-size: 50px;
    color: bisque;
}

.content {
    background-color: #1a1aa8;
    display: flex;
    height:calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.content-text {
    width: 30%;
}

.content-text h1 {
    font-size: 48px;
    color: bisque;
    font-weight: 500;
    margin-bottom: 8px;
}

.content-text p {
    font-size: 20px;
    color: bisque;
    font-weight: 500;
}

.button {
    padding: 15px 30px;
    background-color: rgb(115, 192, 255);
    color: #1a1aa8;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    margin: 40px 0px;
}

.hero-img img {
    height: auto;
    width: 400px;
    border-radius: 50%;
}

/*Project Section*/

.projects {
    height: 600px;
}

.projects h2 {
    margin-top: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
}

.proj-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.proj-images img {
    height: 300px;
    width: auto;
}

.description h5 {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    transition:all .5s;
}

.description h5:hover {
    color:#004fed;
}

.description p {
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
    margin-top: 15px;
    font-weight: lighter;
}

/*Quote Section*/

.quote {
    display: flex;
    background-color: rgba(112, 128, 144, 0.279);
    height: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote q {
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    max-width: 1100px;
}

.quote p {
    font-size: 34px;
    font-weight: bolder;
    margin: 15px 0  0 60%;
}

