.body {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.landing {
    background:rgb(57, 57, 87);
    width: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.rock-img {
    border-radius: 50%;
    max-width: 50px;
    margin-left: 150px;
}

.header-links {
    margin-right: 150px;
}
.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px;
}
/* Landing Page */

.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
}

.text {
    margin-top: 100px;
}
.text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text h3 {
    font-size: 18px;
    color: #e5e7eb;
}

.sun-img {
    border-radius: 50%;
    padding: 50px 30px;
    max-width: 350px;
    margin-top: 35px;
}

/* section 2 */

.proj-banner {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.proj-images .img-1, .img-2, .img-3, .img-4 {
    max-width: 150px;
    max-height: 200px;
    border-radius: 15%;
}

.proj-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



.footer {
    margin-top: auto;
}